---
import ContactForm from "@components/ContactForm.astro";
import Container from "@components/Container.astro";
import Sectionhead from "@components/SectionHead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact Us</Fragment>
      <Fragment slot="desc">Discover our services and solutions.</Fragment>
    </Sectionhead>

    <section class="contact grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-slate-800">Contact Integra Tech Support</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          From network and data center support to handling the complexities of modern IP based audio-visual systems, we offer a diverse range of services. Ready to assist, we're just a message away. Reach out to us now!
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Chicago, IL</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:jason@integratechsupport.com"
              >jason@integratechsupport.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (987) 4587 899">+1 (847) 532 5404</a
            >
          </div>
        </div>
      </div>
      <div>
        <ContactForm />
      </div>
    </section>
  </Container>
</Layout>
