---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import Outline from "@components/outline.astro";
---

<Layout title="">
<div class="hero-bg w-full">
  <Container>
    <Hero />
  </Container>
</div>
<Container>
  <Features>
    <Fragment slot="heading">
      Here's what we offer
    </Fragment>
    <Fragment slot="text">
      Our comprehensive suite of services stands ready to transform your tech challenges into opportunities. Whether it's troubleshooting, installing, upgrading or optimizing, we've got you covered.
    </Fragment>
  </Features>
</Container>
  <Container>
    <Outline />
  </Container>
  <Container>
    <Cta />
  </Container>
</Layout>

<style>
  .hero-bg {
    background-color: #e6f6fe;
    background-image: url("/assets/img/circuit-board.svg");
  }
</style>