---
import Container from "@components/Container.astro";
import Cta from "@components/CallToAction.astro";
import Services from "@components/Services.astro";
import Hero from "@components/Hero.astro";
import Logos from "@components/Logos.astro";
import Layout from "@layouts/Layout.astro";
import WhoSection from "@components/WhoSection.astro";
---

<Layout title="">
  <div class="hero-bg w-full">
    <Container>
      <Hero />
    </Container>
  </div>

  <Container>
    <Services>
      <Fragment slot="heading">
        What we offer
      </Fragment>
      <Fragment slot="text">
        Our comprehensive suite of services stands ready to transform your tech challenges into opportunities. Whether it's troubleshooting, installing, upgrading or optimizing, we've got you covered.
      </Fragment>
    </Services>
  </Container>

<Container>
    <WhoSection />
</Container>

  <Container>
    <Cta />
  </Container>
</Layout>

<style>
  .hero-bg {
    background-color: #e6f6fe;
    background-image: url("/assets/img/circuit-board.svg");
  }
</style>