---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { Image } from "@astrojs/image/components";
import * as repair from 'content/services/computer-repair.mdx';
---

<Layout title="Services">
  <Container>
    <div class="flex gap-4 items-start p-6 rounded-lg border border-slate-300">
      <div class="mt-1 w-16 h-16 shrink-0">
        <Image src={repair.icon} alt={repair.frontmatter.description} width="800" height="800" aspectRatio={repair.icon.width / repair.icon.height}/>
      </div>
    </div>
  </Container>
</Layout>
