---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { Image } from "@astrojs/image/components";
import * as repair from 'content/services/computer-repair.mdx';
---

<Layout title="Services">
  <Container>
    
    <div class="">
    </div>
  </Container>
</Layout>
