---
// Takes service.frontmatter.title, service.frontmatter.description, and service.icon

import { Image } from '@astrojs/image/components'
interface Props {
    icon: ImageMetadata,
    title: string,
    description: string,
}

const { 
    icon,
    title,
    description,
} = Astro.props;
---
<div class="flex gap-4 items-start p-6 rounded-lg border border-slate-300">
    <div class="mt-1 w-16 h-16 shrink-0">
      <Image
        src={icon} 
        alt={title}
      />
    </div>
    <div>
      <h3 class="font-semibold text-lg">{title}</h3>{" "}
      <p class="text-slate-500 mt-2 leading-relaxed">{description}</p>
    </div>
</div>