---
import ContactForm from "@components/contactform.astro";
---

<section class="py-4 mt-2 lg:mt-10">
    <div class="grid sm:grid-cols-2 gap-10 sm:gap-14">

        <!----- ROW 01 COL 01 ----->
        <div class="flex flex-col gap-8 items-center md:items-start">
            <div class="heading border-l-4 border-itblue-400 pl-4">
                <h2 class="text-lg lg:text-xl font-semibold text-itblue-400 lg:tracking-tight">
                    Who We Are
                </h2>
                <p class="subheading text-xl md:text-3xl font-light">
                    Chicagoland's premiere IT Support company, providing exceptional tech solutions tailored to your needs.
                </p>        
            </div>
            <div class="bullets pl-10 text-lg md:text-xl">
                <ul class="benefits text-2xl font-light md:text-3xl list-image-[url(/assets/img/check-fat-duotone.svg)]">
                    <li>Reliable</li>
                    <li>Professional</li>
                    <li>Flexible</li>
                    <li>Affordable</li>
                    <li>Accountable</li>
                    <li>Qualified</li>
                </ul>
            </div>
        </div>

        <!----- ROW 01 COL 02 ----->
        <div class="contactform px-4">
            <h2 class="text-2xl lg:text-3xl lg:tracking-tight mb-4">
                Need Help on a Project? Reach Out to Us!
            </h2>
            <p class="mb-5 text-lg">
                Integra Tech Support of the Greater Chicagoland Area provides outsourced technical solutions for any sized business.
            </p>
            <ContactForm />
        </div>
    </div>
  </section>

  <style>
    .subheading {
        line-height: 3rem;
    }

    .benefits li {
        margin-bottom: 1.5rem;
        letter-spacing: 0.25rem;
    }

    .benefits li:last-child {
        margin-bottom: 0;
    }
  </style>