---
import { Image } from "@astrojs/image/components";
import ContactForm from "@components/contactform.astro";
---

<section class="py-6 mt-2 lg:mt-10">
    <div class="grid sm:grid-cols-2 gap-10 sm:gap-14">

        <!----- ROW 01 COL 01 ----->
        <div>
            <div class="heading pb-4 border-l-4 border-itblue-400 pl-4">
                <h2 class="text-lg lg:text-xl font-semibold text-itblue-400 lg:tracking-tight">
                    Who We Are
                </h2>
                <p class="subheading text-xl md:text-3xl font-light">
                    Chicagoland's premiere IT Support company, providing seamless tech solutions tailored to your needs.
                </p>        
            </div>
        </div>

        <!----- ROW 01-02 COL 02 ----->
        <div class="contactform px-16">
            <h2 class="text-xl lg:text-2xl lg:tracking-tight mb-5">
                Need Help on a Project? Reach Out to Us!
            </h2>
            <ContactForm />
        </div>
    </div>
  </section>

  <style>
    .subheading {
        line-height: 3rem;
    }
  </style>